spring:
  datasource:
    url: jdbc:mysql://${DB_HOST:localhost}:${DB_PORT:3307}/${DB_NAME:reservationapi}?useUnicode=true&characterEncoding=utf8&serverTimezone=UTC&allowPublicKeyRetrieval=true&useSSL=false
    username: ${DB_USERNAME:reservationapi}
    password: ${DB_PASSWORD:reservationapi123}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: UTC

  flyway:
    enabled: true
    locations: classpath:db/migration

logging:
  level:
    root: INFO
    org.hibernate.SQL: DEBUG
    org.hibernate.orm.jdbc.bind: TRACE

security:
  jwt:
    secret: ${JWT_SECRET:WwPPV716MSy7rJkp86LXeYWEq5QIB8SiNrpnKoeir+FrtJeYdF1fCumM76H38wnXIMJI/tLqUOQSRobTcAl06A==}
    expiration-minutes: 60

bootstrap:
  admin:
    email: ${BOOTSTRAP_ADMIN_EMAIL:admin@local.com}
    password: ${BOOTSTRAP_ADMIN_PASSWORD:Admin12345*}
    full-name: ${BOOTSTRAP_ADMIN_FULL_NAME:Admin}
    dni: ${BOOTSTRAP_ADMIN_DNI:00000000}
    phone: ${BOOTSTRAP_ADMIN_PHONE:000000000}

app:
  cors:
    allowed-origins: ${CORS_ALLOWED_ORIGINS:http://localhost:3000}